<div class="room-list list-group">
  <% @room.stations.each do |station| %>
    <%= play_station_button(@room, station) %>
  <% end %>
</div>

<div class="well audio-player-wrapper col-md-8">
  <div class="player-with-data">
    <div id="audio-player" data-status="<%= @listener_status %>">
      <audio controls autoplay>
        <source src>
      </audio>
      <div id="next-wrapper"><%= fa_icon 'fast-forward lg', id: 'next' %></div>
    </div>
    <div id="song-info">
      <b id="song-name"></b>
      <p><em>by</em> <span id="artist-name"></span></p>
      <p><em>on</em> <span id="album-name"></span></p>
    </div>
  </div>

  <div id="album-art">
    <img height="200" alt="Image not found" onError="this.src='/assets/unknown.png';" src>
  </div>
</div>

<div class="panel panel-default listener-list-panel col-md-3">
  <div class="panel-heading">
    <h3 class="panel-title">Listeners</h3>
  </div>
  <ul class="listener-list list-group">
    <% @room.listeners.each do |l| %>
      <li data-id="<%= l.id %>" class="list-group-item">
        <span><%= l.username %></span>
      </li>
    <% end %>
  </ul>
</div>
