<div class="room-list">
  <ul>
    <% @room.stations.each do |s| %>
      <%= @room.decorate.play_station(s) %>
    <% end %>
  </ul>
</div>

<div id="audio-player">
  <audio controls autoplay>
    <source src=<%= @room.playlist.try(:first).try(:high_quality_audio_url) %>>
  </audio>
</div>

<div id="song-info">
  <span id="song-name"><%= @room.playlist.try(:first).try(:song_name) %></span>:
  <span id="artist-name"><%= @room.playlist.try(:first).try(:artist_name) %></span> --
  <span id="song-album"><%= @room.playlist.try(:first).try(:album_name) %></span>
</div>

<span id="next">Next</span>
